@model IEnumerable<direktoriMember.Models.SOHeader>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tanggal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamaMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tanggal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamaMember)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.MemberID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SOHeaderID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SOHeaderID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SOHeaderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
